.main__information-title, .main__section__fourth__container h2, .main__section__second-info h3, .main__section__first-card_container h2, .modal-container .title {
  font-family: "Montserrat Bold";
  font-size: 38px;
  line-height: 46px;
}

.footer__card .title, .main__section__third h3 {
  font-family: "Montserrat Bold";
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
}

.main__information-text {
  font-family: "Montserrat Regular";
  font-size: 19px;
  line-height: 30px;
  color: #000000;
}

.footer__point-container, .main__section__third__card-container .section__third__card, .main__section__second-point__container, .header__main-content__contacts .lang, .header__main-content__contacts .lang__main,
.header__main-content__contacts__main .lang,
.header__main-content__contacts__main .lang__main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__card-container, .main__section__first-navigation, .header__container, .header__container__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav, .header__nav__main, .header__main-content__contacts,
.header__main-content__contacts__main {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer__container, .main-first, .modal-container .modal_title {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer__main-content, .main__section__second-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer_info, .footer__main-content .footer__address, .main__card-container .main__card p, .main__section__fourth__container-card .section__fourth__card .text, .main__section__second-info p, .main__section__first-card__holder .main__section__first-card p, .main__section__first-navigation_card p, .modal-container input, .address,
.address_main,
.phone,
.phone__main {
  font-family: "Montserrat Regular";
}

.footer__main-content .email, .footer__main-content .footer_phone, .footer__main-content .footer__adres-link, .main__section__fourth__container-card .section__fourth__card .date, .main__section__fourth__container-card .section__fourth__card h4, .main__section__second-info h6, .main__section__first-card__holder .main__section__first-card h3, .main__section__first-navigation_card h2, .main__nav__list__item,
.main__nav__list__item a, .mobile__nav-container .mobile__nav__list__item a, .modal-container .text, .nav__list .nav__list__item,
.nav__list .nav__list__item a,
.nav__list .nav__list__item__main,
.nav__list .nav__list__item__main a, .phone,
.phone__main, .header__main-content__contacts .lang, .header__main-content__contacts .lang__main,
.header__main-content__contacts__main .lang,
.header__main-content__contacts__main .lang__main {
  font-family: "Montserrat Bold";
}

.main__nav__list__item .active__item,
.main__nav__list__item a .active__item, .modal-container .title, .main__information-title, .main__section__fourth__container h2, .main__section__second-info h3, .main__section__first-card_container h2, .modal-container .title {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@font-face {
  font-family: "Montserrat Regular";
  src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat Bold";
  src: url("../fonts/Montserrat-Bold.ttf");
}
* {
  box-sizing: border-box;
}

.header {
  background: #FFFFFF;
  padding-top: 50px;
}

.header__main {
  background: none;
  padding-top: 50px;
  position: absolute;
  top: 0;
  width: 100%;
}

.fix-size-main {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.fix-size-secondary {
  max-width: 1080px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

.show__for__mobile {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.header__main-content__contacts .header_lang,
.header__main-content__contacts__main .header_lang {
  display: flex;
}
.header__main-content__contacts .lang,
.header__main-content__contacts__main .lang {
  color: #B3B3BA;
}
.header__main-content__contacts .lang:hover,
.header__main-content__contacts__main .lang:hover {
  background-color: #F5F5FA;
}
.header__main-content__contacts .lang__main,
.header__main-content__contacts__main .lang__main {
  color: #FFFFFF;
}
.header__main-content__contacts .lang__main:hover,
.header__main-content__contacts__main .lang__main:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.header__main-content__contacts .lang, .header__main-content__contacts .lang__main,
.header__main-content__contacts__main .lang,
.header__main-content__contacts__main .lang__main {
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1px;
  width: 33px;
  height: 25px;
  border-radius: 8px;
  cursor: pointer;
}
.header__main-content__contacts .active,
.header__main-content__contacts__main .active {
  background-color: #F0145A;
  color: #FFFFFF;
}

.point {
  background-color: #E6E6F0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 0 6px;
}

.address,
.address_main,
.phone,
.phone__main {
  font-size: 16px;
  line-height: 20px;
}

.address,
.phone {
  color: #B3B3BA;
}

.address_main,
.phone__main {
  color: #FFFFFF;
}

.header__social-link path:hover {
  fill: #F0145A;
}

.nav__list {
  display: flex;
}
.nav__list .nav__list__item:not(:last-child) {
  margin-right: 15px;
}
.nav__list .nav__list__item__main:not(:last-child) {
  margin-right: 15px;
}
.nav__list .nav__list__item,
.nav__list .nav__list__item a,
.nav__list .nav__list__item__main,
.nav__list .nav__list__item__main a {
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  text-decoration: none;
  cursor: pointer;
}
.nav__list .nav__list__item,
.nav__list .nav__list__item a {
  color: #24A3FF;
}
.nav__list .nav__list__item__main,
.nav__list .nav__list__item__main a {
  color: #FFFFFF;
}
.nav__list .active a {
  color: #F0145A !important;
  text-decoration: underline;
}
.nav__list .nav__list__item a:hover {
  text-decoration: underline;
}
.nav__list .nav__list__item__main a:hover {
  text-decoration: underline;
}
.nav__list #modalButton:hover {
  text-decoration: underline;
}

.modal-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(50, 50, 100, 0.7333333333);
  top: 0;
  left: 0;
  display: none;
}
.modal-container .modal {
  width: auto;
  width: 650px;
  height: 612px;
  background-color: #F5F5FA;
  padding: 30px;
  margin: auto;
  box-shadow: 0px 15px 80px rgba(40, 40, 86, 0.5);
  border-radius: 12px;
  overflow: auto;
}
.modal-container .modal_title {
  margin-bottom: 30px;
}
.modal-container .title {
  display: inline;
}
.modal-container button {
  border: none;
  background: none;
  cursor: pointer;
}
.modal-container button:hover {
  background: #E6E6F0;
  border-radius: 10px;
}
.modal-container input {
  width: 100%;
  height: 56px;
  border: none;
  border-radius: 8px;
  outline: none;
  background: #FFFFFF;
  margin-bottom: 15px;
  color: #B3B3BA;
  font-size: 16px;
  line-height: 20px;
  padding: 15px;
}
.modal-container .input {
  height: 80px;
  margin-bottom: 30px;
}
.modal-container .text {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
  margin-bottom: 15px;
}
.modal-container .btn {
  background: #24A3FF;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
}

.show-modal {
  display: flex;
}

#openMenu:hover {
  background-color: #E6E6F0;
  border-radius: 8px;
}

.mobile__nav-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(50, 50, 100, 0.7333333333);
  top: 0;
  display: none;
  align-items: flex-end;
  justify-content: center;
  padding: 0 10px;
}
.mobile__nav-container .mobile__nav {
  height: auto;
  width: 100%;
  max-width: 500px;
  background: #FFFFFF;
  border-radius: 12px 12px 0px 0px;
}
.mobile__nav-container .mobile__nav__btn-container {
  display: flex;
  justify-content: flex-end;
}
.mobile__nav-container .mobile__nav__btn-container button {
  border: none;
  background: none;
  cursor: pointer;
  text-align: right;
  margin-top: 12px;
  margin-right: 12px;
}
.mobile__nav-container .mobile__nav__btn-container button:hover {
  background: #E6E6F0;
  border-radius: 10px;
}
.mobile__nav-container .mobile__nav__list__item a {
  margin: 15px;
  display: block;
  text-decoration: none;
  background-color: #F5F5FA;
  padding: 7px;
  border-radius: 12px;
  color: #24A3FF;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}
.mobile__nav-container .mobile__nav__list__item a:hover {
  color: #F0145A;
}
.mobile__nav-container .mobile__nav__list .active a {
  background-color: #E6E6F0;
}

.main__section__first {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px 0px 12px 12px;
}

.main__section__first-background {
  background-image: url("../images/hlegal/logo.svg");
  background-repeat: no-repeat;
  background-position: 50% 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__section__first-background h1 {
  font-family: "Montserrat Bold";
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  color: #FFFFFF;
  padding: 377px 0 305px 0;
}
.main__section__first-background button {
  background: none;
  border: none;
  margin-bottom: 30px;
}
.main__section__first-background svg {
  cursor: pointer;
  color: #FFFFFF;
}
.main__section__first-background svg:hover {
  color: #F0145A;
}

.main__section__first-navigation {
  padding: 60px 15px;
}

.main__nav {
  padding-right: 60px;
}

.main__nav__list__item,
.main__nav__list__item a {
  font-size: 38px;
  line-height: 46px;
  text-align: right;
  color: #B3B3BA;
  text-decoration: none;
  text-align: right;
  white-space: nowrap;
}
.main__nav__list__item:hover,
.main__nav__list__item a:hover {
  color: #F0145A;
}
.main__nav__list__item:not(:last-child) {
  margin-bottom: 30px;
}

.main__section__first-navigation_card {
  max-width: 581px;
  border-left: 4px solid rgba(255, 255, 255, 0.3);
  padding-left: 60px;
}
.main__section__first-navigation_card h2 {
  font-size: 30px;
  line-height: 37px;
  color: #FFFFFF;
  padding: 30px 0;
}
.main__section__first-navigation_card p {
  font-size: 19px;
  line-height: 30px;
  color: #FFFFFF;
  padding-bottom: 30px;
}

.main__section__first-card_container h2 {
  margin-top: 10px;
}

.main__section__first-card__holder {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 60px;
  padding-bottom: 60px;
  row-gap: 60px;
  column-gap: 10px;
}
.main__section__first-card__holder .main__section__first-card {
  max-width: 400px;
  display: flex;
  flex-direction: column;
}
.main__section__first-card__holder .main__section__first-card .card__img {
  width: 92px;
  height: 92px;
  background-color: #FFFFFF;
  border-radius: 24px;
  margin-bottom: 30px;
  display: flex;
}
.main__section__first-card__holder .main__section__first-card .card__img img {
  margin: auto;
}
.main__section__first-card__holder .main__section__first-card h3 {
  font-size: 22px;
  line-height: 27px;
  color: #24A3FF;
  margin-bottom: 15px;
  cursor: pointer;
}
.main__section__first-card__holder .main__section__first-card p {
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

.shadow__first {
  height: 10px;
  border-radius: 0 0 12px 12px;
  display: flex;
  margin: auto;
  width: 98%;
  background: #CACADB;
}

.shadow__second {
  height: 10px;
  border-radius: 0 0 12px 12px;
  display: flex;
  margin: auto;
  width: 95%;
  background: #E7E7F2;
}

.main__section__second-link,
.main__section__fourth-link,
.main__section__first-card_container-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.main__section__second-link span,
.main__section__fourth-link span,
.main__section__first-card_container-link span {
  font-family: "Montserrat Bold";
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}
.main__section__second-link span:hover,
.main__section__fourth-link span:hover,
.main__section__first-card_container-link span:hover {
  color: #F0145A;
}
.main__section__second-link svg,
.main__section__fourth-link svg,
.main__section__first-card_container-link svg {
  cursor: pointer;
  color: #24A3FF;
}
.main__section__second-link svg:hover,
.main__section__fourth-link svg:hover,
.main__section__first-card_container-link svg:hover {
  color: #F0145A;
}

.main__section__second {
  padding-top: 60px;
}

.main__section__second-point__container {
  margin-top: 30px;
}
.main__section__second-point__container .point {
  background-color: rgba(36, 164, 255, 0.1647058824);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 0 15px;
  border: none;
  cursor: pointer;
}
.main__section__second-point__container .active {
  background-color: #24A3FF;
}
.main__section__second-point__container .point:hover {
  background: #24A3FF;
  opacity: 0.6;
}

.main__section__second-info {
  border-radius: 12px;
  background-color: #F5F5FA;
}
.main__section__second-info .avatar {
  border-radius: 12px 0 0 12px;
  background-image: url(../images/hlegal/avatar.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 395px;
  width: 400px;
  background-size: 132%;
}
.main__section__second-info h3 {
  max-width: 860px;
  margin-top: 10px;
}
.main__section__second-info .main__section__second-info-card {
  padding: 30px;
  min-width: 420px;
}
.main__section__second-info h6 {
  font-size: 16px;
  line-height: 20px;
  color: #B3B3BA;
  margin-top: 30px;
}
.main__section__second-info p {
  font-size: 14px;
  line-height: 22px;
  color: #B3B3BA;
  margin-top: 6px;
}

.main__section__third {
  padding-bottom: 30px;
}
.main__section__third h3 {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 39px;
}

.main__section__third__card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  max-width: 1720px;
  margin: 0 auto;
}
.main__section__third__card-container .section__third__card {
  max-width: 100%;
  height: 120px;
}
.main__section__third__card-container .section__third__card img {
  max-width: 217px;
  max-height: 100%;
}
.main__section__third__card-container .first {
  background: #1C4280;
  border-radius: 5px 0 0 0;
}
.main__section__third__card-container .second {
  background: #143646;
}
.main__section__third__card-container .second img {
  height: 32px;
  align-self: center;
}
.main__section__third__card-container .third {
  background: linear-gradient(0deg, #F48B30, #F48B30), #F48B30;
}
.main__section__third__card-container .fourth {
  background: #9E4DC3;
  border-radius: 0 5px 0 0;
}
.main__section__third__card-container .fifth {
  background: #FD9339;
}
.main__section__third__card-container .sixth {
  background: #E2E2E4;
}
.main__section__third__card-container .seventh {
  background: #C71C36;
}
.main__section__third__card-container .seventh img {
  height: 61px;
  align-self: center;
}
.main__section__third__card-container .eighth {
  background: #DCF3F9;
}
.main__section__third__card-container .eighth img {
  align-self: center;
  height: 76px;
}
.main__section__third__card-container .ninth {
  background: #EAEAEA;
  border-radius: 0 0 0 5px;
}
.main__section__third__card-container .tenth {
  background: #282240;
}
.main__section__third__card-container .eleventh {
  background: #1D4568;
}
.main__section__third__card-container .twelfth {
  background: #000000;
  border-radius: 0 0 5px 0;
}

.main__section__fourth {
  background-color: #F5F5FA;
}

.main__section__fourth__container {
  padding: 30px 0;
}
.main__section__fourth__container-card {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  gap: 30px;
}
.main__section__fourth__container-card .section__fourth__card {
  width: 420px;
  border-radius: 8px;
  background: #FFFFFF;
  display: block;
}
.main__section__fourth__container-card .section__fourth__card .section__fourth__cards__item {
  padding: 30px;
}
.main__section__fourth__container-card .section__fourth__card img {
  width: 100%;
}
.main__section__fourth__container-card .section__fourth__card h4 {
  color: #24A3FF;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 15px;
  cursor: pointer;
}
.main__section__fourth__container-card .section__fourth__card .date {
  color: #B3B3BA;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.main__section__fourth__container-card .section__fourth__card hr {
  border: 2px solid #E6E6F0;
  margin: 0 auto;
}
.main__section__fourth__container-card .section__fourth__card .text {
  color: black;
  font-size: 14px;
  line-height: 22px;
  margin-top: 15px;
}

.main-first {
  padding: 60px 0;
}

.main__landing {
  width: 100%;
}

.main__information {
  width: 662px;
}

.main__information-title {
  margin-bottom: 28px;
}

.main__card-container {
  width: 362px;
}
.main__card-container.bordered {
  border-left: 4px solid #E6E6F0;
  padding-left: 30px;
}
.main__card-container .main__card:not(:last-child) {
  margin-bottom: 40px;
}
.main__card-container .main__card p {
  font-size: 16px;
  line-height: 20px;
  color: #323264;
  margin-top: 10px;
}

.footer {
  background-color: #F5F5FA;
}
.footer hr {
  border: 1px solid #E6E6F0;
  margin: 0 auto;
}

.footer__card {
  padding: 30px 0;
}
.footer__card .title {
  text-align: center;
}

.footer__card-container {
  padding: 30px 0;
}

.card {
  display: flex;
  border-radius: 12px;
  width: 100%;
  height: 110px;
  background-color: #FFFFFF;
}
.card:not(:last-child) {
  margin-right: 30px;
}
.card img {
  margin: auto;
  min-width: 110px;
  height: 60px;
}

.footer__point-container .footer__point {
  background-color: rgba(36, 164, 255, 0.1647058824);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 0 15px;
  border: none;
  cursor: pointer;
}
.footer__point-container .active {
  background-color: #24A3FF;
}
.footer__point-container .footer__point:hover {
  background: #24A3FF;
  opacity: 0.6;
}

.show {
  display: none;
}

.footer__container {
  padding: 30px 0;
}

.footer__main-content .footer__main-content-point {
  background-color: #B3B3BA;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 0 10px;
}
.footer__main-content .footer__adres-link {
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
  font-size: 12px;
  line-height: 15px;
}
.footer__main-content .footer__social-link path:hover {
  fill: #F0145A;
}
.footer__main-content .footer_phone {
  color: #46466E;
  line-height: 20px;
}
.footer__main-content .email {
  text-decoration: none;
  color: #24A3FF;
  line-height: 20px;
}
.footer__main-content .email:hover {
  color: #F0145A;
}

.footer__main-content:not(:last-child) {
  margin-bottom: 30px;
}

.footer_info {
  color: #B3B3BA;
  font-size: 16px;
  line-height: 20px;
}

@media (max-width: 1100px) {
  .fix-size-main {
    padding: 0 60px;
  }
  .header__container {
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-bottom: 30px;
  }
  .address,
.address_main {
    font-size: 15px;
  }
  .header__nav {
    justify-content: flex-start;
  }
  .header__main-content__contacts {
    margin-bottom: 30px;
  }
  .main-first {
    padding: 60px 60px;
  }
  .main__section__first-background h1 {
    padding: 361px 0 289px 0;
  }
  .main__section__second-info .avatar {
    height: 528px;
    width: 400px;
    background-size: 132%;
  }
  .main__section__second-info h3 {
    max-width: 444px;
  }
  .main__section__second {
    padding-top: 60px;
  }
  .main__section__first-card {
    flex-basis: 40%;
  }
  .main__section__third {
    padding-bottom: 0;
  }
  .main__information {
    margin-right: 30px;
  }
  .card {
    height: 90px;
  }
  .card img {
    height: 40px;
  }
  .footer__container {
    flex-direction: column;
    align-items: center;
  }
  .footer-content-container {
    margin-bottom: 30px;
  }
}
@media (max-width: 890px) {
  .main__section__second-info {
    flex-wrap: wrap;
    max-width: 588px;
    margin: auto;
  }
  .main__section__second-info .avatar {
    width: 100%;
    background-size: 100%;
    border-radius: 12px;
  }
  .main__section__third__card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 750px) {
  .header__container__main {
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-bottom: 30px;
  }
  .header__nav__main {
    justify-content: flex-start;
  }
  .header__main-content__contacts__main {
    margin-bottom: 30px;
  }
  .main__section__first-background {
    background-size: cover;
  }
  .main__section__first-background h1 {
    padding: 489px 0 417px 0;
  }
  .main__section__first-navigation {
    flex-direction: column;
    align-items: flex-start;
    padding: 60px;
  }
  .main__nav {
    padding-right: 0;
    padding-bottom: 60px;
    width: 100%;
  }
  .main__nav__list {
    display: flex;
    gap: 30px;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
  }
  .main__nav__list::-webkit-scrollbar {
    width: 0;
  }
  .main__nav__list__item:not(:last-child) {
    margin-bottom: 0;
  }
  .main__nav__list__item a {
    text-align: left;
  }
  .main__section__first-navigation_card {
    border-left: none;
    border-top: 4px solid rgba(255, 255, 255, 0.3);
    padding-left: 0;
  }
  .main__section__third__card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .main__section__fourth__container-card {
    flex-wrap: wrap;
    margin: 30px 60px;
  }
  .main__section__fourth__container-card .section__fourth__card {
    max-width: 45%;
    width: 100%;
  }
  .main__section__fourth__container-card .huge {
    max-width: 100%;
  }
  .main-first {
    flex-direction: column;
  }
  .secondary {
    margin-bottom: 0;
  }
  .main__information {
    margin-right: 0;
    width: 100%;
  }
  .main__information .main__information-text {
    margin-bottom: 30px;
  }
  .main__card-container {
    width: 100%;
  }
  .card:not(:last-child) {
    margin-right: 0;
  }
  .card img {
    min-width: 50px;
  }
  .hide__element {
    display: none;
  }
  .show {
    display: inline;
  }
}
@media (max-width: 600px) {
  .hide__for__mobile {
    display: none;
  }
  .fix-size-main {
    padding: 0;
    min-width: 300px;
  }
  .fix-size-secondary {
    min-width: 290px;
  }
  .header,
.header__main {
    padding: 0;
  }
  .header__container,
.header__container__main {
    margin-bottom: 0;
  }
  .header__main-content__contacts,
.header__main-content__contacts__main {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0;
    padding: 10px 15px;
  }
  .header__main-content__contacts {
    background-color: #F5F5FA;
  }
  .header__main-content__contacts__main {
    background: rgba(245, 245, 250, 0.2);
  }
  .show__for__mobile {
    display: inline;
  }
  .header__container-logo {
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__container-logo .logo {
    width: 180px;
  }
  .header__container-logo .logo__main {
    width: 70px;
  }
  .show-menu {
    display: flex;
  }
  .main__section__first-navigation {
    padding: 30px;
  }
  .main__section__first-background h1 {
    padding: 231px 0 159px 0;
  }
  .main__section__first-navigation_card p {
    padding-bottom: 0;
  }
  .main__section__first-navigation_card h2 {
    font-size: 20px;
    line-height: 24px;
  }
  .main__section__first-card__holder {
    justify-content: flex-start;
  }
  .main__section__first-card {
    max-width: 480px;
    flex-basis: 100%;
  }
  .main__information-title {
    font-size: 30px;
    line-height: 37px;
  }
  .shadow__first {
    width: 95%;
  }
  .shadow__second {
    width: 93%;
  }
  .main__section__second-info {
    padding: 0;
  }
  .main__section__second-info .avatar {
    height: 379px;
    background-size: 100%;
  }
  .main__section__second-info .main__section__second-info-card {
    min-width: 290px;
  }
  .main__section__second-info .main__section__second-info-card h3 {
    font-size: 25px;
    line-height: 37px;
    max-width: none;
  }
  .main__section__third__card-container {
    grid-template-columns: 1fr;
    max-height: 719px;
    overflow-y: scroll;
  }
  .main__section__third__card-container::-webkit-scrollbar {
    width: 0;
  }
  .main__section__fourth-link,
.main__section__fourth-link_title,
.main__section__first-card_container {
    padding: 0 30px;
  }
  .main__section__fourth__container-card {
    flex-direction: column;
    margin: 30px;
  }
  .main__section__fourth__container-card .section__fourth__card {
    max-width: 100%;
    width: auto;
  }
  .main-first {
    padding: 30px;
  }
  .main__nav {
    padding-bottom: 30px;
  }
  .main__information-text {
    font-size: 17px;
    line-height: 28px;
  }
  .secondary {
    margin-bottom: 30px;
  }
  .footer__card-container {
    padding: 30px;
  }
  .footer__main-content {
    flex-direction: column;
  }
  .footer__main-content .footer__address {
    margin-bottom: 10px;
  }
  .footer_phone {
    margin: 10px 0;
  }
}

/*# sourceMappingURL=style.css.map */
