$main_color: #323264;
$alt_color: #46466E;
$soft_color: #686887;
$accent_color: #F0145A;
$active_color: #24A3FF;
$active_hover: #0085FF;
$active_active: #006CCF;

$bg_main: #F5F5FA;
$bg_alt: #EDEDF7;
$bg_text: #B3B3BA;
$bg_separator: #E6E6F0;

$white: #FFFFFF;